@use '../foundation/base';
@use '../foundation/mixin' as *;

.l-footer {
  width: 100%;
  margin-top: 6rem;
  background-color: #396600;
  padding-bottom: 1.2rem;
  font-family: "Noto Sans JP";
  color: #F1EDE4;
  
  > p {
    font-size: 1.2rem;
    margin-top: 9.1rem;
    text-align: center;
  }
}

.p-footer-item-container {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  margin: 0 auto 0 auto;

  .p-footer-logo {
    margin: 0 auto;

    img {
      width: 19.4rem;
      height: 10.6rem;
    }

    p {
      font-size: 1.83rem;
      margin-top: 1.6rem;
    }
  }

  .p-footer-address {
    margin-top: 3.4rem;
    margin-left: 8.05rem;

    ul {
      list-style-type: none;
      font-size: 1.4rem;
    }

    li {
      line-height: 1.27;
    }

    li:not(:nth-of-type(1)){
      margin-top: .8rem;
    }
  }

  .p-footer-link {
    margin-top: 2.4rem;
    margin-left: 8.05rem;

    a {
      display: block;
      font-size: 1.4rem;
      line-height: 1.27;
    }

    a:not(:nth-of-type(1)) {
      margin-top: .8rem;
    }
  }
}

@include breakpoint(pc) {
  .l-footer {
    margin-top: 10rem;
    padding-bottom: .8rem;
    
    > p {
      font-size: 1.2rem;
      margin-top: 2.4rem;
    }
  }
  
  .p-footer-item-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 84.5rem;
    padding-top: 4.7rem;
  
    .p-footer-logo {
      width: auto;
      margin: 0;
  
      img {
        width: 17rem;
        height: 9.3rem;
      }
  
      p {
        font-size: 1.6rem;
        margin-top: 2.4rem;
      }
    }
  
    .p-footer-address {
      width: auto;
      margin: 0;
  
      ul {
        font-size: 1.6rem;
      }
    }
  
    .p-footer-link {
      width: auto;
      margin: 0;
  
      a {
        font-size: 1.6rem;
      }
    }
  }
}